<% if user_signed_in? && @post.user_id == current_user.id %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 offset-md-2 my-3">
        <h1>投稿編集</h1>
      </div>
      <div class="col-8">
        <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
          <div class="form-group">
            <h3>題名</h3>
            <%= f.text_field :title, class: "form-control", :required => true %>
          </div>

          <div class="form-group">
            <h3>投稿本文</h3>
            <%= f.text_area :contribution, class: "form-control", rows: 10, :required => true %>
          </div>

          <div class="my-5 text-center">
            <%= f.submit "編集する", class: "btn btn-success" %>
          </div>
        <% end %>
        <p class="text-center">削除すると、コメント及びいいねも削除されます。</p>
        <p class="text-center mb-5">
          <%= link_to "削除する", post_path(@post.id), method: :delete,
            data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
        </p>
      </div>
    </div>
  </div>

<% end %>

