<h1><%= @tag.tag %> の検索結果</h1>

<% @records.each do |record| %>
  <%= link_to post_path(record.id) do %>
    <div>
      <%= record.user.name %>
      <%= record.title %>
      <%= record.contribution %>
    </div>
  <% end %>
<% end %>