<div class="container">
  <div class="row">
    <h2 class="m-4">ユーザー編集</h2>
    <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
      <div class="co-12 form-group mt-5">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td style="width: 50%" class="text-right">ユーザー氏名</td>
              <td style="width: 5%"></td>
              <td style="width: 45%"><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td class="text-right">メールアドレス</td>
              <td></td>
              <td><%= f.text_field :email, class: "form-control" %></td>
            </tr>
            <tr>
              <td class="text-right">ユーザーステータス</td>
              <td></td>
              <td>
                <%= f.radio_button :is_active, :on, style: "transform:scale(2.0)", class: "mt-2", checked: true %>
  							<%= f.label :is_active, "有効", value: :on, class: "ml-2 mt-2" %>
	  						<%= f.radio_button :is_active, :off, style: "transform:scale(2.0)", class: "ml-3 mt-2" %>
		  					<%= f.label :is_active, "退会", value: :off, class: "ml-2 mt-2" %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="justify-content-center m-5 pl-5">
          <%= f.submit "編集を保存する", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>