<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <p>新規登録のかたは
    <%= link_to "こちら", new_user_registration_path %>
    から
  </p>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
