<%= form_with model: @user, method: :patch do |f| %>
  <div>
    <p>名前(ニックネーム)：</p>
    <%= f.text_field :name %>
  </div>
  <div>
    <p>メールアドレス：</p>
    <%= f.text_field :email %>
  </div>
  <%= f.submit "情報を変更する", class: "btn btn-success" %>
<% end %>
<%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %>