<div class="container my-5">
  <div class="row">
    <div class="col-6 text-center">
      <h2><%= current_user.name %></h2>
      <h4><%= current_user.email %></h4>
    </div>
    <div class="col-3 offset-md-2 mt-3">
      <%= link_to "情報を編集", edit_user_path(current_user.id), class: "btn btn-success" %>
    </div>
    <div class="col-12 my-5">
      カレンダー
    </div>
    <div class="col-6 offset-md-3 d-flex">
      <div >
        <%= link_to posts_user_path(current_user.id) do %>
          <button class="btn btn-outline-secondary mx-2">自分の投稿一覧をみる</button>
        <% end %>
      </div>
      <div>
        <%= link_to likes_users_path do %>
          <button class="btn btn-outline-secondary mx-2">いいねした投稿一覧をみる</button>
        <% end %>
      </div>
    </div>
  </div>
</div>