<div class="container my-5">
  <div class="row">
    <div class="col-6 text-center">
      <h2><%= current_user.name %></h2>
      <h4><%= current_user.email %></h4>
    </div>
    <div class="col-3 offset-md-2 mt-3">
      <%= link_to "情報を編集", edit_user_path(current_user.id), class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 my-5">
      <table class="table table-borderd">
        <thead>
          <tr>
            <th colspan="7" class="text-center">
              <%= @before_prev_month.year.to_s %>   <%= @before_prev_month.month.to_s %>
            </th>
          </tr>
          <tr>
            <td>日</td>
            <td>月</td>
            <td>火</td>
            <td>水</td>
            <td>木</td>
            <td>金</td>
            <td>土</td>
          </tr>
        </thead>
        <tbody>
          <% @before_prev_month_days.each_with_index do |day, i| %>
            <% if (i == 0) || (i % 7 == 0) %>
              <tr>
            <% end %>
            <td><%= day %></td>
            <% if i == 6 %>
             </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-md-3 d-flex">
      <div >
        <%= link_to posts_user_path(current_user.id) do %>
          <button class="btn btn-outline-secondary mx-2">自分の投稿一覧をみる</button>
        <% end %>
      </div>
      <div>
        <%= link_to likes_users_path do %>
          <button class="btn btn-outline-secondary mx-2">いいねした投稿一覧をみる</button>
        <% end %>
      </div>
    </div>
  </div>
</div>