<!DOCTYPE html>
<html>
	<head>
		<title>LuckyNap</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>


		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<!--"YuseiMagic" is lisenced under the SIL Open Font License-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
	</head>

	<body>
		<header class="border rounded-pill border-info">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="nav-brand ml-5" href="/"><%= image_tag('cooltext411810024662321.png') %></a>
				<button class="navbar-toggler border-info" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-extend="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<% if user_signed_in? %>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "マイページ", my_page_path, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "新規投稿", new_post_path, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "投稿一覧", posts_path, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<% elsif admin_signed_in? %>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "ユーザー一覧", admin_users_path, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "投稿一覧", admin_top_path, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<% else %>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "新規登録", new_user_registration_path, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<li class="nav-item" style="background-color: #fbff94">
							<%= link_to "ログイン", new_user_session_path, class: "nav-link btn btn-outline-info mx-3" %>
						</li>
						<% end %>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			<%= yield %>
		</main>
		<footer class="border-top border-dark">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 mt-3 d-flex">
						<%= image_tag("IMG_0044.jpg", :size => "100x140") %>
						<p class="mt-2 ml-5">
							製作者より<br><br>
							昼寝が大好きな人や<br>
							昼寝をして豊かな生き方をしたい人が、<br>
							このサイトを使って、より素敵な<br>
							日常を送って頂けたら幸いです。
						</p>
					</div>
					<div class="col-12 col-md-6 mt-2 form-group">
						<%= form_with url: search_path, method: :get do  |f| %>
							<table class="table table-borderless">
								<thead>
									<tr>
										<td style="width: 85%">
											<%= f.search_field :keyword, placeholder: "キーワードを入力してください", class: "form-control" %>
										</td>
										<td style="width: 15%">
											<%= f.submit "検索", class: "form-control" %>
										</td>
									</tr>
								</thead>
							</table>
						<% end %>
						<p>最新の投稿に紐づいたタグ</p>
						<% @tags_all.each do |tag| %>
							<%= link_to tag_search_path(tag.id) do %>
								<button class="btn btn-primary ml-3 rounded-pill"><%= tag.tag %></button>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
